/* Fundo de toda a página */
body {
    background-color: #000000; /* Cor preta */
    color: #ffffff;           /* Texto em branco para dar contraste */
    font-family: Arial, sans-serif;
}

/* Seus estilos originais */
h1 {
    color: rgb(255, 196, 0);
    background-color: rgb(125, 125, 123);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

h2 {
    color: rgb(255, 196, 0);
    background-color: rgb(125, 125, 123);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}